@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://www.pyweb.io/assets/web/assets/mobirise-icons/mobirise-icons.css');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c3168;
  --ifm-color-primary-dark: #442c5e;
  --ifm-color-primary-darker: #412a58;
  --ifm-color-primary-darkest: #352249;
  --ifm-color-primary-light: #543672;
  --ifm-color-primary-lighter: #573878;
  --ifm-color-primary-lightest: #634087;
  --ifm-background-color: #ebebeb;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Poppins', sans-serif;
  --ifm-font-family-monospace: 'Ubuntu';
  --ifm-footer-background-color: #ebebeb;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d3bc8d;
  --ifm-color-primary-dark: #c9ad74;
  --ifm-color-primary-darker: #c4a667;
  --ifm-color-primary-darkest: #b28e45;
  --ifm-color-primary-light: #ddcba6;
  --ifm-color-primary-lighter: #e2d2b3;
  --ifm-color-primary-lightest: #f0e9d9;
  --ifm-background-color: #000000;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
}

[data-theme='light'] nav {
  background-color: #ebebeb;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

header.hero.hero--primary.heroBanner_src-pages-index-module {
  background-color: rgb(69, 216, 118);
}

/* Navbar */
.navbar__title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
}

.mbri-github::before { /* Icon */
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  top:.115rem;
}

.mbri-github::after {
  font-size: 1.0rem;
  font-weight: 600;
  margin-left: .6rem;
  font-family: 'Poppins', sans-serif;
  content: "Project Repo";
  position: relative;
  bottom: .2rem;
}

.menu__link.mbri-github::after {
  font-size: 1.1rem;
  position: relative;
  top: .35rem;
}

.mbri-hot-cup::before {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  top: .115rem;
}

.mbri-hot-cup::after { /* Icon */
  font-size: 1.0rem;
  font-weight: 600;
  margin-left: .6rem;
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  content: "Products and Services";
  position: relative;
  bottom: .2rem;
}

.menu__link.mbri-hot-cup::after {
  font-size: 1.1rem;
  position: relative;
  top: .35rem;
}

.mbri-help {
  background-color: #b1a374;
  border-radius: 4px;
  width: 200px;
  height: 44px;
}

.mbri-help:hover {
  background-color: #8b7d4e;
}

.mbri-help::before { /* Icon */
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: .15rem;
  position: relative;
  top:.525rem;
}

.mbri-help::after {
  color: white;
  font-size: 1.0rem;
  font-weight: 600;
  margin-left: .7rem;
  font-family: 'Poppins', sans-serif;
  content: "Join Discord";
  position: relative;
  top: .15rem;
}



.navbar__item.navbar__link { /* Tutorial & Blog links */
  font-weight: 600;
}

/* .navbar__item.navbar__link.button.button--primary {
  background: #b1a374;
  color: white;
  border: none;
}

.navbar__item.navbar__link.button.button--primary:hover {
  background: #8b7d4e;
  color: white;
  border: none;
} */

/* footer */
[data-theme='light'] .footer.footer--dark {
  background-color: #ebebeb;
}

[data-theme='dark'] .footer.footer--dark {
  background-color: #18191a;
}

[data-theme='light'] .footer__title {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 400;
}

[data-theme='dark'] .footer__title {
  color: white;
  font-size: 1.2rem;
  font-weight: 400; 
}

.footer__link-item {
  color: #96885a;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

img {
  border-radius: 15px;
}
